html, body {
    height: 100%;
    position: relative;
}

.modal-header {
    width: 100%;
}

#app {
    background-color: #e2edf9;
    overflow: auto;
    height: 100%;
}

.container.fio.m-0.mt-3, .container.currency {
    background-color: #c8def5;
    padding: 5px 15px !important;
}

/* Hack centered div {  
  position: absolute;
  left: 50%;
  top: 50%;
   transform: translate(-50%, -50%);
   }
*/

div#modal_transfer_inner, #modal_edit_inner, #modal_delete_inner {
    border-top: 1px solid #b8d1eb;
    margin-top: 15px;
    /* border-radius: 5px; */
    /* border: 1px solid #a6bbd2; */
    border-bottom: 1px solid #b8d1eb;
}

.d-inline {
display: inline-block !important;
}

.row.face.background {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

li.list-group-item.d-flex.justify-content-between.lh-condensed.border-0 {
    margin: 5px;
    background-color: #c8def5;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #c8def5 !important;
    border-bottom: 1px solid #a6bbd2;
}

.col-12.col-sm-6.col-md-8 {
    border-radius: 5px;
    padding: 20px 20px;
    border-right: 5px solid #e2edf9;
    background-color: #d5e6f8;
}

.col-6.col-md-4 {
    border-radius: 5px;
    padding: 20px 10px;
    background-color: #d5e6f8;
}